@import "fonts";
@import "mixin";
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
              box-sizing: border-box;
}
:root{
	font-size: 10px;
}
body{
	overflow-x: hidden;
}
.wrapper{
	min-width: 320px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: $font1;	
	overflow-x: hidden;
	color: #000;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1, 
h2,
h3,
h4{
	font-weight: normal;
}


input[type=submit],
input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea,
select{
      -webkit-appearance: none;
    	-moz-appearance: none;
    		appearance: none;
     border-radius: 0;
     border: none;
}
select::-ms-expand{
    display: none;
}
textarea{
	resize:none;
	overflow: auto;
}
.container{
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	padding-left: 5rem;
	padding-right: 5rem;
	@media screen and (max-width: 576px){
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
p{
	color: #313131;
	line-height: 2.7rem;
}
.btn{
	display: block;
	color: #fff;
	text-align: center;
	font: 2rem $font-bold;
	text-shadow: 0 0 0.4rem rgba(31, 69, 140, 0.75);
	padding: 1.3rem 1rem;
	border: 0.1rem solid #fff;
	outline: 0.1rem solid #2695ce;
	-webkit-box-shadow: 0 0 1rem rgba(24, 24, 24, 0.05);
	        box-shadow: 0 0 1rem rgba(24, 24, 24, 0.05);
	background: -o-radial-gradient(17rem 6.2rem, #2584bf, #1f4187);
	background: radial-gradient(17rem 6.2rem, #2584bf, #1f4187);
	@media screen and (max-width: 480px){
		font-size: 1.8rem;		
	}
	&:hover{
		background: -o-radial-gradient(25rem 20rem, #2584bf, #1f4187);
		background: radial-gradient(25rem 20rem, #2584bf, #1f4187);
		-webkit-box-shadow: 0 0.4rem 1rem rgba(0, 0 , 0, 0.5);
		        box-shadow: 0 0.4rem 1rem rgba(0, 0 , 0, 0.5);
	}

}


.text{
	p{
		font-size: 1.6rem;
		padding-bottom: 2.5rem;
		a{
			color: #2279b6;
			text-decoration: underline;
		}
	}
}
.title{
	font: 4.5rem/5rem $font2;
	padding-bottom: 2.5rem;
	@media screen and (max-width: 576px){
		font-size: 4rem;
	}
}


.framed-text{
	@include container-shadow;
	margin: 5.5rem auto;
	background: #f7fbfc;
	padding: 3rem 9.5rem;
	text-align: center;
	p{
		font-size: 1.1rem;
		color: #313131;
		line-height: 1.8rem;
		strong{
			font-family: $font-bold;
			font-weight: normal;
			color: #000;
		}
	}
	@media screen and (max-width: 850px){
		padding: 3rem 3.5rem;
		margin-top: 1.5rem;
	}
}

.p-color{
	color: #000;
	font-family: $font-bold;
	padding: 2.5rem 3rem;
	-webkit-box-shadow: 0.2rem 0.4rem 1.8rem rgba(24, 24, 24, 0.13);
	        box-shadow: 0.2rem 0.4rem 1.8rem rgba(24, 24, 24, 0.13);
	background: #fff7db;
}



@import "header";
@import "how-help";
@import "welcome";
@import "products";
@import "block-color";
@import "block-list";
@import "sending";
@import "footer";

@import "contact";
@import "about";
@import "block-transparent";
@import "product-item";
@import "shadow-block";
@import "wholesale";
@import "sitemap"

